// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


.hover-border {
    border: 1px solid transparent;
    /* Use transparent border to avoid layout shift */
}

/* When hovering, change the border to black */
.hover-border:hover {
    border: 1px solid gray;
}


.hover-border .editButton {
    color: transparent;
    border: 0;
    background-color: transparent;
}

.hover-border:hover .editButton {
    color: gray;
}

.editButton:hover {
    font-size: 16px;
    color: orange !important;
}
